html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Transform the title to Green*/
green-text{
    color: darkolivegreen;
}

/*Wrap video*/
.video {
    display:flex;
    flex-wrap:wrap;
}