@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div>
    <h1 id="hello_world" class="display-4 green-text" onmouseover="newcolor()" onmouseout="oldcolor()"> My Favourite Music Video</h1> <br />
    <h4 id="artist-bg" class="green-text"> Artist Background</h4>
    <p>
        Patrick Nnaemeka Okorie born 27 May 1990, better known by his stage name Patoranking, is a Nigerian reggae-dancehall 
        singer and songwriter. Born and raised in Ijegun-Egba Satellite Town, Patoranking originated from Onicha. He started 
        his music career doing underground collaborations with artists such as XProject, Konga, Slam, and Reggie Rockstone.
    </p>
    <div>
        <iframe width="1280" height="720" wrap
                src="https://www.youtube.com/embed/D8THDikwfcs"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
        clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <p>Learn more about <a href="https://en.wikipedia.org/wiki/Patoranking">Patoranking</a>.</p>
</div>

    
  
    

